@import "../include/nav";
@import "../include/common";
@import "../include/footer";

// 详情页面
.container {

  img.rounded-circle {
    width: 3.125rem;
    height: 3.125rem;
  }

  .relative-blog {
    .card-body {
      padding: 0;
    }
  }

  main {

    h1,
    h5 {
      font-weight: bold;
    }

    .copyright {
      color: #999;
      font-size: 0.875rem;
    }

    form {
      border-bottom: 2px solid #5bc0ca;
    }

    .card {
      time {
        color: #999;
        font-size: 0.875rem;
      }

      .comment-user {
        font-size: 1.05rem;
        font-weight: 400;
        color: #ff0000;
        margin-bottom: 0;
      }

      .comment-content {
        margin-bottom: 0;
      }
    }
  }




}
