@import "../include/nav";
@import "../include/common";
@import "../include/footer";


.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(82vh - 48px); //将底部固定
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
